#container{
    margin: 20px auto;
    height: 90vh;
    width: 90vw;

}


.rows{
    /* background-color: #000; */
    height: 20vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    /* justify-content: center; */
}

.cols{
    height: 100%;
    border: 1px solid black;
}